*{
  box-sizing: border-box;
}
body{
  background: rgb(75, 7, 102);
}

div[data-js="textArea"]{
  width: 100%;
  
}
div[data-js="app"]{
  width: 60%;
  margin-top: 25px;
  
}
div[data-js="postList"]{
  display: flex;
  flex-direction: column;
 
  
}
post{
  word-wrap: break-word;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  background-color: white;
}


